<div class="container mt-5">
  <h1>Adding a new restaurant</h1>
  <%= render 'restaurants/form', restaurant: @restaurant %>
  <div class="mt-3"><%= link_to "Back", restaurants_path, class: 'text-decoration-none btn btn-primary' %></div>
</div>
